@model ResumeManager.Models.Company
@{
    ViewBag.Title = "Редактирование " + Model.CompanyName;
}

<div class="container-fluid">
    <form asp-action="Edit" asp-controller="Company" asp-route-id="@Model.Id">
        <div class="panel panel-primary">
            <div class="panel-heading">Редактирование: @Model.CompanyName</div>
            <div class="panel-body">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label">Название Компании</label>
                    <input type="text" asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" />
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Адрес</label>
                    <input type="text" asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" />
                </div>
                <div class="form-group">
                    <label asp-for="HRName" class="control-label">Имя HR'a</label>
                    <input type="text" asp-for="HRName" class="form-control" />
                    <span asp-validation-for="HRName" />
                </div>
                <div class="form-group">
                    <label asp-for="HRLastName" class="control-label">Фамилия HR'a</label>
                    <input type="text" asp-for="HRLastName" class="form-control" />
                    <span asp-validation-for="HRLastName" />
                </div>
                <div class="form-group">
                    <label asp-for="HRPhone" class="control-label">Телефон HR'a</label>
                    <input type="text" asp-for="HRPhone" class="form-control" />
                    <span asp-validation-for="HRPhone" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Редактировать</button>
        </div>
        <a href="~/Company/Companies" class="btn btn-primary btn-lg btn-block" role="button">Назад</a>
    </form>
</div>



