@model ResumeManager.Models.User
@{
    ViewBag.Title = "Удалить Администатора " + Model.Username;
}
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">Администатор @Model.Username</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">ID: @Model.Id</li>
                <li class="list-group-item">Логин: @Model.Username</li>
                <li class="list-group-item">Пароль: @Model.Password</li>
            </ul>
        </div>
    </div>
    <form asp-controller="Admin" asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Удалить" />
        </div>
        <a href="~/Admin/Admins" class="btn btn-primary btn-lg btn-block" role="button">Назад</a>
    </form>

</div>