@model ResumeManager.Models.User
@{
    ViewBag.Title = "Администатор " + Model.Username;
}
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">Администатор @Model.Username</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">ID: @Model.Id</li>
                <li class="list-group-item">Логин: @Model.Username</li>
                <li class="list-group-item">Пароль: @Model.Password</li>
            </ul>
        </div>
    </div>
    <a href="~/Admin/Admins" class="btn btn-primary btn-lg btn-block" role="button">Назад</a>
</div>