@{
    ViewData["Title"] = "Home Page";
}

<div class="well">
    <div class="jumbotron">
        <h1>Добро пожаловать, соискатель!</h1>
        <p>Тут вы можете оставить ваше резюме на рассмотрение различным IT компаниям. Если вы готовы, нажмите "Начать"</p>
        <p><a class="btn btn-primary btn-lg" href="~/Resume/Send" role="button">Начать</a></p>
    </div>
</div>